{% extends 'base.html' %}

{% block content %}

<h1>Cart Total: ${{total}} </h1>
<a href="#" class="btn btn-outline-danger">Delete All</a>
{% for p in products %}
<div class="productcard" style="width: 18rem;">
    <a href="{{ url_for('cart.viewSingleProduct', product_id=p.id) }}"><img src="{{ p.img_url }}" class="card-img-top" alt="{{ p.title }}"></a></a>
    <div class="card-body">
        <h5 class="card-title">{{ p.title }}</h5>
        <p class="card-text">{{ p.price }}</p>
        <p class="card-text">{{ p.description }}</p>
        <p class="card-text">{{ p.category }}</p>
        <a href="{{products.id}}"></a>
        <a href="" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}